<a href="https://colab.research.google.com/github/anitatamanna/ppt/blob/main/labhomework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# python arithmatic operations
# Define two numbers
a = 10
b = 3

# Arithmetic operations
addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b            # Regular division (returns float)
floor_division = a // b     # Floor division (returns integer)
modulus = a % b             # Remainder
exponentiation = a ** b     # Power (a raised to the power of b)

# Print results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [9]:
# Get user input and convert to integer
number = int(input("Enter a number: "))

# Conditional statements
if number > 0:
    print("The number is positive")
elif number == 0:
    print("The number is zero")
else:
    print("The number is negative")

Enter a number: 5
The number is positive

In [11]:
# Get input from user
num = int(input("Enter a number to display its multiplication table: "))

# Print multiplication table up to 10
print(f"\nMultiplication Table for {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number to display its multiplication table: 9

Multiplication Table for 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [13]:
import random

fruits = ['apple', 'banana', 'cherry', 'mango']
chosen = random.choice(fruits)
print("Randomly selected fruit:", chosen)

Randomly selected fruit: mango

In [14]:
# Define the dictionary
country_capitals = {
    "Bangladesh": "Dhaka",
    "India": "New Delhi",
    "USA": "Washington, D.C.",
    "France": "Paris",
    "Japan": "Tokyo"
}

# Check if a country is in the dictionary
if "India" in country_capitals:
    print("India is in the dictionary.")

# Check for a country not in the dictionary
if "Germany" not in country_capitals:
    print("Germany is not in the dictionary.")

India is in the dictionary.
Germany is not in the dictionary.

In [15]:
# Define the function
def add_numbers(a, b):
    return a + b

# Call the function with example values
result = add_numbers(5, 7)

# Print the result
print("The sum is:", result)

The sum is: 12

In [16]:
import math

# Access the value of pi
pi_value = math.pi

# Print the value
print("The value of pi is:", pi_value)

The value of pi is: 3.141592653589793

In [17]:
def factorial(n):
    # Base case: factorial of 0 or 1 is 1
    if n == 0 or n == 1:
        return 1
    # Recursive case
    else:
        return n * factorial(n - 1)

# Example usage
number = 6
print("Factorial of", number, "is:", factorial(number))

Factorial of 6 is: 720

In [18]:
# Define a tuple
fruits = ("apple", "banana", "cherry")

# Check if "banana" is in the tuple
if "banana" in fruits:
    print("Yes, 'banana' is in the tuple.")

# Check if "mango" is not in the tuple
if "mango" not in fruits:
    print("No, 'mango' is not in the tuple.")

Yes, 'banana' is in the tuple.
No, 'mango' is not in the tuple.

In [19]:
class University:
    name = "Greenfield University"

    @staticmethod
    def calculate_gpa(marks):
        total = sum(marks)
        gpa = total / len(marks)
        return round(gpa, 2)

# Example usage:
student_marks = [85, 90, 78, 92, 88]
gpa = University.calculate_gpa(student_marks)

print("Student GPA:", gpa)

Student GPA: 86.6